{%- set external_urls = {
  'github': 'https://github.com/deepmipt/dialog_flow_engine',
  'github_issues': 'https://github.com/deepmipt/dialog_flow_engine/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://readthedocs.org/projects/dialog-flow-engine/badge/?version=latest',
  'slack': 'https://deeppavlov.slack.com',
  'discuss': 'https://forum.deeppavlov.ai/',
  'tutorials': 'https://forum.deeppavlov.ai/',
  'home': 'https://github.com/deepmipt/dialog_flow_engine',
  'quick_start': 'https://github.com/deepmipt/dialog_flow_engine#quick-start',
  'features': 'https://github.com/deepmipt/dialog_flow_engine#readme',
  'dialog_flow_framework': 'https://github.com/deepmipt/dialog_flow_framework',
  'blog': 'https://deeppavlov.ai/blog',
  'support': 'https://forum.deeppavlov.ai/',
  'deeppavlov': 'https://deeppavlov.ai/',
  'youtube': 'https://www.youtube.com/DeepPavlov',
  'community': 'https://deeppavlov.ai/community',
  'forums': 'https://forum.deeppavlov.ai/',
}
-%}
